* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  --black: #32485C;
  --choco: #874E4C;
  --nude: #E2B091;
  --blush: #EABCAC;
  --macaron: #F7DFD4;
}

/* HEADER */
a {
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 5%;
}

.logo {
  display: flex;
  gap: 0.5rem;
  align-content: center;
  font-weight: 900;
  font-size: 3rem;
  color: var(--black);
}

.logo span {
  color: var(--choco);
}

.nav-menu {
  position: static;
  left: 0;
  top: 0;
  gap: 3rem;
  display: flex;
  flex-direction: row;
  width: auto;
  text-align: center;
}

.nav-item {
  display: -ms-grid;
  display: grid;
  align-content: center;
}

.nav-item a {
  color: var(--black);
  font-weight: 500;
  font-size: 24px;
  line-height: 20px;
}



/* Footer */
footer {
  position: fixed;
  bottom: 0;
  display: block;
  padding: 3rem 2rem;
  width: 100%
}

footer .wrapper.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

footer .branding {
  color: var(--black);
  font-family: var(--sans-font);
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 1em;
  flex-shrink: 0;
  flex-basis: 7rem;
}