* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  --sapphire: #001b48;
  --cerulean: #004581;
  --curious: #018abd;
  --light: #97cbdc;
  --azureish: #dde8f0;
}

/* ******** HEADER ******** */
a {
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background : var(--azureish);

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 5%;
}

.logo {
  display: flex;
  gap: 0.5rem;
  align-content: center;
  font-weight: 900;
  font-size: 3rem;
  color: var(--sapphire);
}

.logo span {
  color: var(--cerulean);
}

.nav-menu {
  position: static;
  left: 0;
  top: 0;
  gap: 3rem;
  display: flex;
  flex-direction: row;
  width: auto;
  text-align: center;
}

.nav-item {
  display: -ms-grid;
  display: grid;
  align-content: center;
}

.nav-item a {
  color: var(--sapphire);
  font-weight: 500;
  font-size: 24px;
  line-height: 20px;
}

/* ******** MAIN ******** */
main {
  margin-top: 7.4rem;
}

/* Float four columns side by side */
.column {
  float: left;
  box-sizing:border-box;
  width: 33%;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  margin: 5%;
  border-radius: 8px;
  text-align: center;
  background-color: var(--light);
}

.column img {
  width: 100%;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  padding: 10px;
  margin: 0 5%;
  margin-bottom: 11rem;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */


/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.container {
  display: flex;
  justify-content: space-evenly;
}

/* ******** FOOTER ******** */
footer {
  display: block;
  padding: 3rem 2rem;
}

footer .wrapper.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

footer .branding {
  color: var(--primary);
  font-family: var(--sans-font);
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 1em;
  flex-shrink: 0;
  flex-basis: 7rem;
}